PROJECT_NAME="IntelliCommerce Analytics"
ENVIRONMENT="development"
DEBUG=True
ALLOWED_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=intellicommerce

NEXT_PUBLIC_API_URL="http://localhost:8000"
